

html{
    font-size: 100%;
    
}

body {
    font-family: serif;
    color: #FFFFFF;
    margin: 0px;
    text-shadow:1px 2px 3px black;
    background-color: black;
}

a {
    text-decoration: none;
    color: white;
}

a:hover{
    color: black;
    background-color: white;
    text-shadow:0px 0px 0px;
}

.wrapper{
    width: auto;
    height: 100vh;
    margin: auto;
    background-image: url(imags/003.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    
}

.container{
    max-width: 800px;
    max-height: 1000px;
    text-align: center;
    padding: 25px;
    margin: auto;
    
}    

.content {
    max-width: 100%;
    max-height: 1000px;
    border-radius:10px;
    padding: 50px;
    
}
.content ul{
    list-style: none;
}

