
*{
    padding: 0px;
    margin: 0px;
}

html{
    font-size: 100%;
}

body {
    font-family: serif;
    color: white;
    margin: 0px;
    text-shadow:1px 2px 3px black;
}

a {
    text-decoration: none;
    color: white;
}

a:hover{
    color: black;
    background-color: white;
    text-shadow:0px 0px 0px;
}

header h1{
    padding: 20px;
}

.wrapper{
    background-size: cover;
    background: linear-gradient(#808080, #C0C0C0,#FFFFFF);
}

.container h2{
    padding: 20px 30px;
    margin: 0px;
    background-color: rgba(10,10,10,0.4);
}

.container div{
    padding: 5px 10px;
    margin: 20px;
    background-color: rgba(10,10,10,0.4);
}

.contentfooter{
    margin:0px;
    height: 100px;
    background-color: rgba(10,10,10,0.4);
}

.contentfooter div{
    padding:  20px;
}